<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Old way from version 1.1 -->
  <configSections>
  </configSections>
  <appSettings>
    <add key="Conn2" value="Data Source=.\SQLEXPRESS;Initial Catalog = DB2; Integrated Security=True;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Conn3" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog = DB3; Integrated Security=True" />
    <add name="ADO2008Demo.Properties.Settings.Conn4" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog = DB4; Integrated Security=True;" />
  </connectionStrings>
</configuration>