<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessControls.Properties.Settings.NWindConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=Northwind"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>